extends layout

block content
  h1= title
  p Welcome to #{title}
  p Hii, Welcome to srilatha's page 
  button(type="button", class="btn btn-danger" onclick="goFaster()") press me
  div(id="Faster") Increase the value
  a(href='http://localhost:3000/student') student Link
  script.
    var mph = 20;
    var change = 1;
    function goFaster() {
    mph += change;
    change += 1;

      document.getElementById('Faster').innerHTML=`Count ${mph} with Change ${change}`
    }
    
  
  
 
  
